.catalog {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1300px;
    position: relative;
}

@media (max-width: 1350px) {
    .container {
        width: 95%;
    }
}

.information {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav__category {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav__products {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.product__category {
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.product__category__active {
    background: #0009EA;
    color: #F5F5F5;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.products {
    margin-top: 55px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(420px, 500px)); */
}

@media (max-width: 1350px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}



